body {
    background-color: #d5dfe5;
    display: grid;
    grid-template: repeat(10, 100px) / repeat(5, 1fr);
    grid-row-gap: 10px;
}

nav {
    grid-column: span 5;
    grid-row: span 1;
    display: flex;
    margin: 0 0 100px;
    padding: 0;
}

.nav-link {
    flex: 4;
    background-color: #c9b1bd;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-family: cursive;
    color: #567568;
    text-align: center;
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small {
    flex: 1;
}

.nav-link:hover {
    background-color: #b49594;
}

.nav-img {
    height: 30px;
}

.home-heading {
    grid-column: span 5;
    grid-row: span 2;
    font-size: 100px;
    font-weight: bolder;
    color: #5b507a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 200px;
}

.home-section {
    background-color: #c9b1bd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-row: span 2;
}

.section-left {
    grid-column: 1 / span 4;
}

.section-right {
    grid-column: 2 / span 4;
}

.home-section-title {
    color: #567568;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-section-list {
    display: flex;
    flex-flow: row wrap;
    margin-left: 100px;
    margin-right: 50px;
}

.home-section-list-item {
    color: #567568;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    min-width: 100px;
    text-align: center;
    margin-top: 10px;
}

.game-section {
    background-color: #c9b1bd;
    display: grid;
    grid-template: repeat(12, 25px) / repeat(12, 1fr);
    grid-row: span 3;
}

.game-section-title {
    color: #567568;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 12;
    grid-row: span 1;
}

.game-section-game {
    margin: 0;
    padding: 0;
    grid-column: span 8;
    grid-row: span 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-section-game iframe {
    transform: scaleX(0.3) scaleY(0.3);
    width: 1000px;
    height: 610px;
    margin: 0;
}

.game-section-info {
    color: #567568;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: span 4;
    grid-row: span 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-column: span 5;
    grid-row: span 2;
    font-size: 20px;
    color: #567568;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}